{{ $menu_id := .menu }}
{{ $list := .list }}
{{ $current_page := .current }}

{{ range $list }}
  {{- $is_current := $current_page.IsMenuCurrent $menu_id . -}}
  <li class="list f5 f4-ns fw4 {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
  {{- if .URL -}}
    <a class="hover-white no-underline white-90" href="{{ .URL }}">{{ .Name }}</a>
  {{- else -}}
    <span>{{ .Name }}</span>
  {{- end -}}
  
  {{/* only render the child elements of the current page
       and the ancestors of the current page. */}}
  {{- if and 
      .HasChildren
      (or 
        ($current_page.IsMenuCurrent $menu_id .)
        ($current_page.HasMenuCurrent $menu_id .)) -}}
      <ul>
      {{ partial "menu-item" (dict 
          "menu" $menu_id
          "list" .Children
          "current" $current_page) }}
      </ul>
  {{- end -}}
  </li>
{{ end }}{{/* end range $list */}}
